{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ __.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<div>
    <script>
        document.write(`<div class="fb-comments" data-href="${window.location.href}" data-num-posts="5" data-width="100%"></div>`);
    </script>
</div>
<div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive horizontal long ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8949878373616356"
        data-ad-slot="1524160078"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    <i class="fa fa-copyright"></i>
    {%- assign created_time = rest_created_at | date: "%Y" -%}
    {%- assign updated_time = rest_updated_at | date: "%Y" -%}
    {%- if created_time == updated_time -%}
        {{ created_time }},
    {%- else -%}
        {{ created_time }}-{{ updated_time }},
    {%- endif %}
    <a class="text-gray" href="https://www.facebook.com/asifthen00b/" target="_blank">
        asifthen00b
    </a>
    {{ __.revision | default: "Revision" }}
    <a class="text-gray" href="{{ docs.repository_url }}/commit/{{ docs.build_revision }}" title="{{ docs.build_revision }}" target="_blank">
        {{ docs.build_revision | slice: 0, 7 }}
    </a>
</div>
